<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>162779351222-st5e32i52i5lgs60bmifj27tnp9vt5pq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.162779351222-st5e32i52i5lgs60bmifj27tnp9vt5pq</string>
	<key>API_KEY</key>
	<string>AIzaSyCLaM7X3uPNuulSP4M0rmeVKZF5HdGBcNE</string>
	<key>GCM_SENDER_ID</key>
	<string>162779351222</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.iTGate.UpToFind</string>
	<key>PROJECT_ID</key>
	<string>uptofind</string>
	<key>STORAGE_BUCKET</key>
	<string>uptofind.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:162779351222:ios:28bc9c01dfc8cc19ec3e17</string>
	<key>DATABASE_URL</key>
	<string>https://uptofind.firebaseio.com</string>
</dict>
</plist>